language: go
sudo: true
go:
  - 1.11.x
  - tip

before_install:
  - sudo apt-get install git
  - sudo git clone https://github.com/edenhill/librdkafka.git 
  - cd librdkafka 
  - sudo ./configure --prefix /usr 
  - sudo make 
  - sudo make install
  - go get -t -v ./...

script:
  - ./go.test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
