version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 192.168.1.61
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /home/admin1/work/src/github.com/heaptracetechnology/microservice-kafka:/var/run/docker.sock
